<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="nl.tudelft.immune">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <application>
    <service
      android:name=".CertService"
      android:exported="false"
      android:foregroundServiceType="dataSync"
      android:isolatedProcess="false" />
    <receiver android:name=".CertWidget">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/service_widget_info" />
    </receiver>
  </application>
</manifest>
